body{
	margin-top: 40px;
	background-color: #F9F9F9;
}
h2{
  font-weight: normal;
  padding: 10px;
  padding-left: 30px;
}
div.actions{
  ul{
    li{
      line-height: 22px;
      a{
        font-size: 16px;
      }
    }
  }
}
table{
  width: 90%;
  margin: auto;
  background: white;
  border: 1px solid #DFDFDF;
  moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  th{
    background-color: #E7E7E7;
    font-size: 14px;
    font-weight: normal;
  }
}
.striped {
  background-color: #f9f9f9;
}
div.paging,div.counter{
  width: 90%;
  margin: auto;
  padding: 10px;
}
div.view-data{
  p{
    img{
      margin-left: 70px;
    }
  }
}
form{
  div.input{
    clear: left;
    padding: 10px 0;
    height: 30px;
    padding-top: 0;
    margin: 0;
    input,select,textarea{
      float: left;
    }
    div.error-message{
      float: left;
      line-height: 26px;
      padding-left: 10px;
      color: red;
    }
  }
  div.input.textarea{
    height: 80px;
    padding-bottom: 10px;
    textarea{
      height: 70px;
    }
  }
  div.submit{
    clear: left;
    padding: 10px 0;
  }
}
#wrapper{
  #container{
    .content{
      div.input{
        margin-left: 150px;
        label{
          margin-right: 5px;
        }
      }
      div.submit{
        margin-left: 305px;
      }
    }
    form{ 
	    div.new_field{
	    	margin-left: 150px;
	    	div.input{
	    		margin-left: 0px;
	    		float: left;
	    	}
	    	table{
	    		width: 70%;
	    	}
	    }
	    div.new_field.salary{
	      margin-top: 10px;
	      table{
	        width: 50%;
	        clear: left;
	      }
	    }
	    div.input.inline{
	    	margin: 0;
	      margin-left: 150px;
	      height: 45px;
	    	table{
	    		width: 100px;
	    		margin: 0px;
	    		margin-bottom: 0;
	    		background: none;
          border: none;
	    		td{
	    			border: 0;
	    			div.input{
	    				margin: 3px 0;
	    			}
	    		}
	    		td,tr{
	    			padding: 0;
	    			padding-right: 10px;
	    		}
	    	}
	    }
	  }
	  form#PurchasePurchaseForm, form#SalarySalaryForm{
	  	position: relative;
	  	div.submit{
	  			top: 190px;
					left: 229px;
					position: absolute;
	  	}
	  	div.link{
	  		width: 990px;
				text-align: right;
	  	}
	  	div.link.salary{
        width: 735px;
      }
	  }
	  form#PurchasePurchaseForm{
	  	div.submit{
	  			top: 230px;
	  	}
	  }
  }
}
div.blocks.form{
  table{
    td{
      a{
        padding: 0 5px;
      }
    }
  }
}
