#wrapper{
  #container{
    margin-top: 30px;
    .content{
      div.input{
        margin: 10px 0;
        margin-left: 150px;
        label{
          margin-right: 5px;
        }
      }
      div.submit{
        margin-left: 285px;
      }
    }
  }
}
