body{
	margin-top: 40px;
}
#wrapper{
  #container{
    .content{
      div.input{
        margin: 10px 0;
        margin-left: 150px;
        label{
          margin-right: 5px;
        }
      }
      div.submit{
        margin-left: 285px;
      }
    }
    form{ 
	    div.new_field{
	    	margin-left: 150px;
	    	div.input{
	    		margin-left: 0px;
	    		float: left;
	    	}
	    	table{
	    		width: 70%;
	    	}
	    }
	  }
	  form#PurchasePurchaseForm, form#SalarySalaryForm{
	  	position: relative;
	  	div.submit{
	  			top: 190px;
					left: 229px;
					position: absolute;
	  	}
	  	div.link{
	  		width: 990px;
				text-align: right;
	  	}
	  }
	  form#PurchasePurchaseForm{
	  	div.submit{
	  			top: 227px;
	  	}
	  }
  }
}
