body{margin-top:40px;background-color:#F9F9F9;}
h2{font-weight:normal;padding:10px;padding-left:30px;}
div.actions ul li{line-height:22px;}div.actions ul li a{font-size:16px;}
#falsh-notice,#falsh-notice-login{background:burlyWood;height:28px;}#falsh-notice div#authMessage.message,#falsh-notice-login div#authMessage.message,#falsh-notice div#flashMessage.message,#falsh-notice-login div#flashMessage.message{padding:5px 0;text-align:center;font-weight:bold;color:#A52A2A;}
#falsh-notice-login{margin-top:-25px;}
table{width:90%;margin:auto;background:white;border:1px solid #DFDFDF;moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}table th{background-color:#E7E7E7;font-size:14px;font-weight:normal;}
.striped{background-color:#f9f9f9;}
.login-form div.submit{float:left;}
.forget-password{padding-left:10px;}
div.paging,div.counter{width:90%;margin:auto;padding:10px;}
div.view-data p img{margin-left:70px;}
form div.input{clear:left;padding:10px 0;height:30px;padding-top:0;margin:0;}form div.input input,form div.input select,form div.input textarea{float:left;}
form div.input div.error-message{float:left;line-height:26px;padding-left:10px;color:red;}
form div.input.textarea{height:80px;padding-bottom:10px;}form div.input.textarea textarea{height:70px;}
form div.submit{clear:left;padding:10px 0;}
#wrapper #container .content div.input{margin-left:150px;}#wrapper #container .content div.input label{margin-right:5px;}
#wrapper #container .content div.submit{margin-left:305px;}
#wrapper #container form div.new_field{margin-left:150px;}#wrapper #container form div.new_field div.input{margin-left:0px;float:left;}
#wrapper #container form div.new_field table{width:70%;margin:0;}
#wrapper #container form div.new_field.salary{margin-top:10px;}#wrapper #container form div.new_field.salary table{width:50%;clear:left;}
#wrapper #container form div.input.inline{margin:0;margin-left:150px;height:45px;}#wrapper #container form div.input.inline table{width:100px;margin:0px;margin-bottom:0;background:none;border:none;}#wrapper #container form div.input.inline table td{border:0;}#wrapper #container form div.input.inline table td div.input{margin:3px 0;}
#wrapper #container form div.input.inline table td,#wrapper #container form div.input.inline table tr{padding:0;padding-right:10px;}
#wrapper #container form#PurchasePurchaseForm,#wrapper #container form#SalarySalaryForm{position:relative;}#wrapper #container form#PurchasePurchaseForm div.link,#wrapper #container form#SalarySalaryForm div.link{width:990px;text-align:right;}
#wrapper #container form#PurchasePurchaseForm div.link.salary,#wrapper #container form#SalarySalaryForm div.link.salary{width:735px;}
#wrapper #container form#PurchasePurchaseForm div.submit{top:230px;}
div.blocks.form table td a{padding:0 5px;}
