body{margin-top:40px;}
#wrapper #container .content div.input{margin:10px 0;margin-left:150px;}#wrapper #container .content div.input label{margin-right:5px;}
#wrapper #container .content div.submit{margin-left:285px;}
#wrapper #container form div.new_field{margin-left:150px;}#wrapper #container form div.new_field div.input{margin-left:0px;float:left;}
#wrapper #container form div.new_field table{width:70%;}
#wrapper #container form#PurchasePurchaseForm{position:relative;}#wrapper #container form#PurchasePurchaseForm div.submit{top:190px;left:229px;position:absolute;}
#wrapper #container form#PurchasePurchaseForm div.link{width:990px;text-align:right;}
